    <h1><span class="fa fa-lock"></span> Encrypt-R-us!</h1>
	<div>Naam: <input name="naam" id="naam" type="text"/></div>
    <div>Geheime Tekst: <textarea name="geheimeTekst" id="geheimeTekst" cols="30" rows="10"></textarea></div>
    <div>Wachtwoord: <input name="wachtwoord" id="wachtwoord" type="password"/></div>
    <div><button type="button" id="sendButton">Verstuur!</button></div>
